In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
corona_file = "Resources/2019_nCoV_data.csv"
corona_data_df = pd.read_csv(corona_file)
corona_data_df.head()

,Sno,Date,Province/State,Country,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020 12:00:00,Anhui,China,01/22/2020 12:00:00,1.0,0.0,0.0
1,2,01/22/2020 12:00:00,Beijing,China,01/22/2020 12:00:00,14.0,0.0,0.0
2,3,01/22/2020 12:00:00,Chongqing,China,01/22/2020 12:00:00,6.0,0.0,0.0
3,4,01/22/2020 12:00:00,Fujian,China,01/22/2020 12:00:00,1.0,0.0,0.0
4,5,01/22/2020 12:00:00,Gansu,China,01/22/2020 12:00:00,0.0,0.0,0.0

In [3]:
swine_file = "Resources/Pandemic_(H1N1)_2009.csv"
swine_data_df = pd.read_csv(swine_file, encoding='ISO-8859-1')
swine_data_df.head()

               Country  Cases  Deaths    Update Time
0              Algeria      5     0.0  7/6/2009 9:00
1  Antigua and Barbuda      2     0.0  7/6/2009 9:00
2            Argentina   2485    60.0  7/6/2009 9:00
3            Australia   5298    10.0  7/6/2009 9:00
4              Austria     19     0.0  7/6/2009 9:00

In [7]:
swine_data_df.sortby("Country")

AttributeError: 'DataFrame' object has no attribute 'sortby'